.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */
.card-item {
  border: 1px solid;
  border-radius: 8px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 32px;
  
  list-style-type: none;
  background-color: white;
}
.heading {
  font-family: roboto;
  font-size: 36px;
  font-weight: bold;
  color: #171f46;
}
.description {
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
  color:#64748b;
  margin-bottom: 32px;
  margin-top: 24px;
}
.image{
    height:150px;
    width:150px;
}

