* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4faff;
}
.title {
  font-family: roboto;
  font-size: 36px;
  font-weight: bold;
  color: #171f46;
}

.paragraph {
  font-family: roboto;
  font-size: 36px;
  font-weight: 300;
  color: #64748b;
}
.cards-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 10px;
}
